.partition {
    background-color: red;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    cursor: grab;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.18);
    position: relative;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
}
.partition .partition-size {}
