.story {
    background-color: bisque;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    min-width: 250px;
    max-width: 250px;
    min-height: 100px;
    max-height: 250px;
    cursor: grab;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.18);
    position: relative;
    border-radius: 0.25rem;
}
.story .story-header {
    display: flex;
    background-color: burlywood;
    padding: 10px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.story .story-id {
    font-weight: bold;
    flex-grow: 1;
}

.story .story-points {
    flex-grow: 1;
    background-color: bisque;
    border-radius: 24px;
    text-align: center;
}

.story .story-immaturity-level {
    flex-grow: 1;
    text-align: right;
}

.story .story-immaturity-level-dot {
    border-radius: 2px;
    width: 4px;
    height: 15px;
    background-color: darkred;
    display: inline-block;
    margin-left: 1px;
}

.story .story-title {
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}
