:root {
    --bg-light-color: #3c3f41;
    --bg-dark-color: #2b2b2b;
    --border-color: #515151;
    --text-color: #bbbbbb;
    --text-color-disabled: #919191;
}


body {
    margin: 0;
    padding: 0;
}

.estimation-game {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 386px auto;
    grid-template-rows: 32px 32px 64px auto;
    grid-template-areas:
        "menu menu"
        "users users"
		"partitions stories"
		"main main";
    font-family: Arial;
    color: var(--text-color);
    font-size: 16px;
}

.menu {
    grid-area: menu;
    background-color: var(--bg-light-color);
    padding: 4px;
    line-height: 16px;
}

.users {
    grid-area: users;
    background-color: #ab390f;
    padding: 4px;
    border: 2px none darkred;
    border-top-style: solid;
    text-align: center;
}

.estimation {
    grid-area: main;
    background-color: #0C750C;
    -webkit-box-shadow: inset 1px 1px 24px 6px rgba(0,0,0,0.61);
    box-shadow: inset 1px 1px 24px 6px rgba(0,0,0,0.61);
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.partitions {
    grid-area: partitions;
    background-color: #ab390f;
    padding: 4px;
    border: 2px solid darkred;
    border-left: none;
    border-right: none;
}

.stories {
    grid-area: stories;
    background-color: #ab390f;
    padding: 4px;
    border: 2px solid darkred;
    border-right: none;
}

/* ------------- */

.logo{
    height: 24px;
    vertical-align: middle;
}

/* ------------- */

.menu button {
    border: none;
    margin: 0;
    padding: 4px;
    border-radius: unset;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.menu button:hover,
.menu button:focus,
.menu button.active {
    color: #ffffff;
}

.menu button:disabled {
    color: var(--text-color-disabled);
    cursor: default;
}

.menu .logout {
    float: right;
}

/* ---------------- */

.users button {
    border: none;
    margin: 0;
    padding: 4px;
    border-radius: unset;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
}

.users button:hover,
.users button:focus {
    color: #ffffff;
}

.users button.active {
    color: red;
    font-weight: bold;
}
